body, html{
	margin: 0;
	padding: 0;
}

.section-top{
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

#rectangle{
	width: 110px;
	height: 110px;
	background-color: #fac001;
	position: relative;
	margin-left: 905px;
	margin-top: 200px;
}

.content{
	align-items: center;
	text-align: center;
}

.content img{
	position: absolute;
	top: 240px;
	left: 945px;
}

.content a{
	text-decoration: none;
	font: 24px 'minion pro';
	color: #000;
}

.content h2{
	font: bold 73px 'century gothic';
	letter-spacing: -1.82px;
	color: #000;
	margin-top: 150px;
	margin-bottom: 0;
}

.content h1{
	font: bold 73px 'century gothic';
	letter-spacing: -3.33px;
	color: #000;
	margin-top: 0;
	margin-bottom: 100px;
}

.line{
	border-left: 1px solid grey;
	height: 100px;
	display: inline-block;
	margin-bottom: 100px;
}

.content p{
	font: 24px 'minion pro';
	margin-bottom: 100px;
}

.section-mid{
	background-color: #fac001;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

#rectangle-mid{
	width: 312px;
	height: 110px;
	background-color: #000;
	position: relative;
	left: 805px;
}

.content-mid{
	align-items: center;
	text-align: center;
}

.img-head{
	position: absolute;
	top: 1320px;
	left: 860px;
}

.img-close{
	position: absolute;
	top: 1350px;
	left: 1600px;
}

.content-mid a{
	text-decoration: none;
	font: 24px 'minion pro';
	color: #000;
}

.menu-1{
	margin-top: 100px;
}

.menu-2{
	margin-top: 50px;
}

.content-mid h2{
	font: normal 63px 'Century Gothic';
	color: #000;
	text-align: right;
	display: inline-block;
}

.content-mid h1{
	font: bold 51px 'Century Gothic';
	color: #000;
	text-align: left;
	display: inline-block;
}

.line-mid{
	border: 1px solid black;
	width: 450px;
	margin-top: 100px;
	margin-left: 730px;
	margin-bottom: 100px;
}

.content-mid p{
	font: bold 51px 'Century Gothic';
}

.section-btm{
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

.content-btm{
	align-items: center;
	text-align: center;
}

.content-btm-hd{
	align-items: left;
	text-align: left;
}

.content-btm-hd h2{
	font: bold 30px 'Century Gothic';
	display: inline-block;
	margin-left: 150px;
}

.content-btm-hd h1{
	font: bold 30px 'Century Gothic';
	display: inline-block;
	margin-left: 100px;
}

.content-btm-ctn{
	align-items: left;
	text-align: left;
	margin-left: 300px;
	padding-top: 50px;
}

#rectangle-btm{
	width: 110px;
	height: 110px;
	background-color: #000;
	position: relative;
	margin-left: 905px;
}

.content-btm img{
	position: absolute;
	top: 2395px;
	left: 937px;
}

.content-btm a{
	text-decoration: none;
	font: 24px 'minion pro';
	color: #000;
}

.content-btm h3{
	text-align: left;
	font: normal 64px 'Century Gothic';
}

.content-btm p{
	width: 600px;
	height: 398px;
	font: normal 24px 'Minion Pro';
}

